* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-image-container{
    background-image: url("/Assets/image/meeting.jpg");
    height: 350px;
    background-size: cover;
    z-index: 0;
}
.about-continer-overlay{
    width: 100%;
  height: 100%;
  background-color: #260101;
  opacity: 0.5;
  transition: 0.3s, border-radius 0.3s, opacity 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.about-info-container{
    background-color: #f1f1f1;
}
.about-image-container h1{
    padding: 154px;
}
.about-info-container p{
    font-size: 18px;
}

.left-side-image img{
 width: 60%;  
}

@media (max-width : 425px) {
    .about-image-container h1 {
        padding: 110px;
    } 
    .hire-image-conatiner h1{
        font-size: 28px;
    }
}